@use '../styles/_variables' as *;

.accommodation-card {
  position: relative;
  aspect-ratio: 1 / 1;
  border-radius: $border-radius-large;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(4, 4, 4, 0.41) 0%,
      rgba(4, 4, 4, 0.41) 41%,
      transparent 100%
    );
    z-index: 2;
    transition: opacity 0.3s;
    opacity: 1;
  }

  &:hover::after {
    opacity: 0;
    cursor: pointer;
  }

  h2 {
    position: relative;
    z-index: 3;
    color: $white;
    font-size: $font-size-lg;
    margin: $spacing-md;
    margin-bottom: $spacing-lg;
    text-align: left;
    text-decoration: none;
  }
}
